$sandwichBackground: #000;
$sandwichBackgroundActive: #fff;

.menu-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 8888;
	visibility: hidden;
	@include opacity(0);
	background-color: #000;
	transform: scale(0.5, 0.5);
	transition: opacity .6s, transform .3s;
}

.sandwich {
	width: 48px;
	height: 48px;
	position: fixed;
	right: 30px;
	top: 37px;
	margin: 0;
	z-index: -1;
	cursor: pointer;
	border-radius: 50%;
	border: 2px solid $gold-color;
	text-decoration: none;
	@include opacity(0);

	&__layer {
		width: 100%;
		max-width: 32px;
		height: 2px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -16px;
	    margin-top: 0;
		display: block;
		font-size: 0;
		user-select: none;
		-webkit-touch-callout: none;
		background-color: $sandwichBackground;
		transition: background-color $time;

		&:before,
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			background-color: $sandwichBackground;
			transition: transform $time, background-color $time;
		}

		&:before {
			transform: translateY(-8px);
		}

		&:after {
			transform: translateY(8px);
		}
	}

	&:hover &__layer {
		&:before, &:after {
			background-color: $orange-color;
		}

		&:before {
			transform: translateY(-11px);
		}

		&:after {
			transform: translateY(11px);
		}
	}
}

.page-main .sandwich {
	top: 63px;
}

.page-visible {
	.header {
		visibility: visible;
	}

	.navigation {
		visibility: visible;
	}
}

.page-open {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding-right: 15px;
	-webkit-overflow-scrolling: touch;

	.layout-wrapper {
		overflow: hidden;
	}

	.menu-overlay {
		@include opacity(.9);
		transform: scale(1.2, 1.2);
	}
	
	.navigation {
		&__list {
			transform: scale(1, 1);
		}

		&__header {
			transform: translate3d(0, 0, 0);
		}
	}

	.sandwich {
		right: 45px;

		&__layer {
			background-color: transparent;
	
			&:before, &:after {
				background-color: $sandwichBackgroundActive !important;
			}

			&:before {
				transform: translateY(0) rotate(45deg) !important;
			}

			&:after {
				transform: translateY(0) rotate(-45deg) !important;
			}
		}
	}
}

@media only screen and (max-width: 1460px) {
	.sandwich {
		z-index: 10030;
		@include opacity(1);
	}
}