.slider {
	width: 100%;
	height: 44rem;
	overflow: hidden;
	font-size: 0;
	position: relative;
	line-height: 0;
	background-color: #152930;
	overflow: hidden;
	
	&__wrapper {
		height: 100%;
		position: relative;
	}
	
	&__overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 100;
	}

	&__navigation {
		width: 30px;
		height: 61px;
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -31px;
		cursor: pointer;
		background: none;
		border: 0;
		z-index: 1000;
		
		&:after,
		&:before {
			width: 100%;
			height: 100%;
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			z-index: 1;
			background-repeat: no-repeat;
			background-image: url(../images/arrows.png);
			transition: opacity $time;
			background-size: 62px 124px;
		}

		&:after {
			opacity: 0;
		}

		&:before {
			opacity: 1;
		}

		&:hover:after {
			opacity: 1;
		}

		&:hover:before {
			opacity: 0;
		}

		&_prev {
			left: 65px;

			&:before {
				background-position: 0 0;
			}

			&:after {
				background-position: 0 100%;
			}
		}

		&_next {
			right: 65px;

			&:before {
				background-position: 100% 0;
			}

			&:after {
				background-position: 100% 100%;
			}
		}
	}

	&__item {
	    float: left;
		height: 44rem;
		position: relative;
		overflow: hidden;
		
		&__image {
			width: 100%;
			height: 100%;
			opacity: .3;
			position: relative;
			z-index: 1;
			background-color: #f00;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-attachment: fixed;
			background-size: cover;
		}

		&__content {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 100;
			line-height: 1;
			padding: 72px 0px 0;
			@extend %layout;
		}

		&__title {
			color: #fff;
			font-size: 6rem;
			font-weight: 700;
			margin-bottom: 25px;
		    letter-spacing: 0.007ex;
		}

		&__description {
			opacity: 0.6;
			color: #fff;
			font-size: 2.2rem;
			font-weight: 300;
			line-height: 3rem;
			margin-bottom: 3.3rem;
			padding-right: 3rem;
			letter-spacing: 0.003ex;
		}
		
		&__more {
			clear: both;
			padding-right: 102px;
			margin-bottom: 13px;

			&__link {
				float: right;
				color: #92c271;
				font-size: 1.6rem;
				font-weight: 400;
				line-height: 2.5rem;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}

		&__date {
			color: #2197c2;
			line-height: 4rem;

			&__title {
				font-size: 1.6rem;
				font-weight: 400;
				line-height: 1;
				margin-bottom: 11px;
			}

			&__count {
				font-size: 3rem;
				font-weight: 100;
				line-height: 1;
				letter-spacing: -0.015ex;
			}
		}
	}
}

ul.slick-dots {
	width: 100%;
	position: absolute;
	left: 0;
	font-size: 0;
	line-height: 0;
	bottom: 32px;
	z-index: 1000;
	text-align: center;
}

ul.slick-dots li {
	display: inline-block;
	vertical-align: top;
	margin: 0 6px;
}

ul.slick-dots li button {
	width: 0.8rem;
	height: 0.8rem;
	cursor: pointer;
	padding: 0;
	font-size: 0;
	text-indent: -100px;
	overflow: hidden;
	background-color: #007495;
	border: 0;
}

ul.slick-dots li.slick-active button {
	background-color: #0099c4;
}