.table-touch {
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 3rem;
    
    thead {
        tr {
            th {
                padding: 16px 21px;
                text-align: left;
                background-color: #4b6a85;
                color: #fff;
                font-size: 1.3rem;
                line-height: 1;
                font-weight: 400;
                vertical-align: middle;

                &.tac {
                    text-align: center;
                }
            }
        }
    }

    tbody {
        tr {
            vertical-align: top;

            &:nth-child(2n+2) {
                td {
                    background-color: mix(#4b6a85, #fff, 10%);
                }
            }

            &:last-child {
                td {
                    border-bottom: 1px solid mix(#4b6a85, #fff, 31%);
                }
            }

            td {
                color: #000;
                padding: 23px 21px;
                word-break: break-word;
                font-size: 1.3rem;
                line-height: 1.3;
                font-weight: 400;
                vertical-align: middle;

                &.tac {
                    text-align: center;
                }
            }
        }
    }

    &.large-margin {
        margin-bottom: 65px;
    }

    &.small-padding {
        td {
            padding: 6px 5px;
        }
    }

    &.no-border {
        tbody {
            tr {
                &:last-child {
                    td {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}