.layout {
	width: 100%;
	height: 100%;
	max-width: $layout-width;
	padding: 0 2rem;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
	outline: 1px solid #0FF;
}

.inline {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.layout-wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;

	&__inner {
		padding-bottom: $footer-height;
	}
}