ul:not([class]),
ol:not([class]) {
    margin-left: 17px;
    margin-bottom: 15px;
    
    li {
        color: #484848;
        font-size: 1.5rem;
        line-height: 1.7;
        font-weight: 400;
        margin-bottom: 5px;
    }
}

ul:not([class]) {
    list-style-type: disc;
}

ol:not([class]) {
    list-style-type: decimal;
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}