.product-card {
    width: 220px;
    height: 267px;
    padding: 11px;
    background-color: #fff;

    &__image {
        width: 197px;
        height: 197px;
        display: block;
        font-size: 0;
        line-height: 197px;
        text-align: center;
        margin-bottom: 15px;

        &__src {
            max-width: 197px;
            max-height: 197px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__title {
        color: #4c4c4c;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1;
        text-align: center;

        &__link {
            color: #4c4c4c;
            transition: color $time;
            text-decoration: underline;

            &:hover {
                color: $green-color;
            }
        }
    }
}