<div class="content">

    <h1 class="content__title">Галерея</h1>
    
    <section class="gallery">
        <article class="gallery__item"><a href="../images/gallery/large.jpg" class="gallery__item__image zoom"><img src="../images/gallery/1.jpg" alt="" class="gallery__item__image__src"></a></article>
        <article class="gallery__item"><a href="../images/gallery/large.jpg" class="gallery__item__image zoom"><img src="../images/gallery/2.jpg" alt="" class="gallery__item__image__src"></a></article>
        <article class="gallery__item"><a href="../images/gallery/large.jpg" class="gallery__item__image zoom"><img src="../images/gallery/3.jpg" alt="" class="gallery__item__image__src"></a></article>
        <article class="gallery__item"><a href="../images/gallery/large.jpg" class="gallery__item__image zoom"><img src="../images/gallery/4.jpg" alt="" class="gallery__item__image__src"></a></article>
        <article class="gallery__item"><a href="../images/gallery/large.jpg" class="gallery__item__image zoom"><img src="../images/gallery/5.jpg" alt="" class="gallery__item__image__src"></a></article>
        <article class="gallery__item"><a href="../images/gallery/large.jpg" class="gallery__item__image zoom"><img src="../images/gallery/6.jpg" alt="" class="gallery__item__image__src"></a></article>
        <article class="gallery__item"><a href="../images/gallery/large.jpg" class="gallery__item__image zoom"><img src="../images/gallery/7.jpg" alt="" class="gallery__item__image__src"></a></article>
        <article class="gallery__item"><a href="../images/gallery/large.jpg" class="gallery__item__image zoom"><img src="../images/gallery/8.jpg" alt="" class="gallery__item__image__src"></a></article>
        <article class="gallery__item"><a href="../images/gallery/large.jpg" class="gallery__item__image zoom"><img src="../images/gallery/9.jpg" alt="" class="gallery__item__image__src"></a></article>
        <article class="gallery__item"><a href="../images/gallery/large.jpg" class="gallery__item__image zoom"><img src="../images/gallery/10.jpg" alt="" class="gallery__item__image__src"></a></article>
        <article class="gallery__item"><a href="../images/gallery/large.jpg" class="gallery__item__image zoom"><img src="../images/gallery/11.jpg" alt="" class="gallery__item__image__src"></a></article>
        <article class="gallery__item"><a href="../images/gallery/large.jpg" class="gallery__item__image zoom"><img src="../images/gallery/12.jpg" alt="" class="gallery__item__image__src"></a></article>
    </section>

</div>