<div class="content">

    <h1 class="content__title">БР-1 Стандарт</h1>

    @@include('../components/breadcrumbs.html', {
        "page1": "Главная",
        "page2": "Продукция",
        "page3": "Птицеводство",
        "page4": "Бройлеры",
        "page5": ""
    })
    
    <section class="categories clearfix">
        <article class="categories__column categories__column_icon">
            <img src="../images/orpington-chicken.png" alt="">
        </article>

        <article class="categories__column">
            <ul class="categories__list">
                <li class="categories__item"><a href="" class="categories__item__link">БР-1 Стандарт</a></li>
                <li class="categories__item"><a href="" class="categories__item__link">БР-2 Стандарт</a></li>
                <li class="categories__item"><a href="" class="categories__item__link">БР-3 Стандарт</a></li>
                <li class="categories__item"><a href="" class="categories__item__link">БР-1 Премиум</a></li>
                <li class="categories__item"><a href="" class="categories__item__link">БР-2 Премиум</a></li>
                <li class="categories__item"><a href="" class="categories__item__link">БР-3 Премиум</a></li>
            </ul>
        </article>

        <article class="categories__column">
            <ul class="categories__list">
                <li class="categories__item"><a href="" class="categories__item__link">Кормосмесь</a></li>
                <li class="categories__item"><a href="" class="categories__item__link">Премикс Конвет 1К</a></li>
                <li class="categories__item"><a href="" class="categories__item__link">Премикс Конвет 2К</a></li>
                <li class="categories__item"><a href="" class="categories__item__link">Муливет wsp</a></li>
                <li class="categories__item"><a href="" class="categories__item__link">Сульфатрим</a></li>
                <li class="categories__item"><a href="" class="categories__item__link">Ветциклин</a></li>
            </ul>
        </article>
    </section>

    <p>К примеру, индейки. Рекомендуется строить помещения для этой птицы на легких песчаных почвах, выгонять на пастбище лишь тогда, когда сойдет роса. Индюшата, по мнению опытных птицеводов, прежде чем приобретут красную кожу на голове и наросты на шее и горле, очень чувствительны к ветру и сырости.</p>
    <p>А вот что писал об индейках М. И. Ливанов. Для этой птицы нужен «особливый присмотр: без надлежащего присмотру, сии птицы, будучи весьма нежны и хилы, когда вылупится из яиц, пропадают: для них ни холодные утренники, ни мокрота нетерпимы».</p>
    <p>Особое внимание при выращивании птицы нужно обращать на плотность посадки, так как от нее в конечном итоге зависит микроклимат помещения.</p>
    <p>Очень поучителен совет американских практиков: «Чтобы проверить, как птица чествует себя в птичнике, поставьте в него раскладушку и сами поспите в нем одну ночь. Если вы встанете утром с головной болью, то не тратьте даром деньги на корма и антибиотики, пока не отрегулируете вентиляцию».</p>
    <p>Пословица «в тесноте да не в обиде» — не для пернатых.</p>
    <p>Птице необходимо определенное «жизненное пространство», нужна площадь для кормушек, поилок и гнезд, требуется скромное место, где можно отдохнуть.</p>
    <p>Стадо в процессе жизни изменяет микроклимат помещения: поглощает из воздуха кислород и выделяет углекислый газ. За час курица может выдохнуть около 3 литров углекислоты и 7 граммов водяных паров. Да и сам помет «выдыхает» аммиак, сероводород и углекислый газ. Вдобавок ко всему птица выделяет огромное количество тепла. За сутки 10 тысяч кур дают столько же тепла, сколько получается при сгорании 360 килограммов угля.</p>
    <p>К примеру, индейки. Рекомендуется строить помещения для этой птицы на легких песчаных почвах, выгонять на пастбище лишь тогда, когда сойдет роса. Индюшата, по мнению опытных птицеводов, прежде чем приобретут красную кожу на голове и наросты на шее и горле, очень чувствительны к ветру и сырости.</p>
    <p>А вот что писал об индейках М. И. Ливанов. Для этой птицы нужен «особливый присмотр: без надлежащего присмотру, сии птицы, будучи весьма нежны и хилы, когда вылупится из яиц, пропадают: для них ни холодные утренники, ни мокрота нетерпимы».</p>
    <p>Особое внимание при выращивании птицы нужно обращать на плотность посадки, так как от нее в конечном итоге зависит микроклимат помещения.</p>
    <p>Очень поучителен совет американских практиков: «Чтобы проверить, как птица чествует себя в птичнике, поставьте в него раскладушку и сами поспите в нем одну ночь. Если вы встанете утром с головной болью, то не тратьте даром деньги на корма и антибиотики, пока не отрегулируете вентиляцию».</p>
    <p>Пословица «в тесноте да не в обиде» — не для пернатых.</p>
    <p>Птице необходимо определенное «жизненное пространство», нужна площадь для кормушек, поилок и гнезд, требуется скромное место, где можно отдохнуть.</p>
    <p>Стадо в процессе жизни изменяет микроклимат помещения: поглощает из воздуха кислород и выделяет углекислый газ. За час курица может выдохнуть около 3 литров углекислоты и 7 граммов водяных паров. Да и сам помет «выдыхает» аммиак, сероводород и углекислый газ. Вдобавок ко всему птица выделяет огромное количество тепла. За сутки 10 тысяч кур дают столько же тепла, сколько получается при сгорании 360 килограммов угля.</p>

</div>