<div class="form__addition js-form-addition">
    <table class="popup__table">
        <colgroup>
            <col width="52">
            <col>
            <col width="150">
        </colgroup>
        <thead>
            <tr>
                <th class="tac">№</th>
                <th>Наименование оборудования</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tac">1.</td>
                <td><input type="text" class="form__input"></td>
                <td><input type="text" class="form__input"></td>
            </tr>
        </tbody>
    </table>

    <div class="form__row">
        <span class="event-button event-button_add js-add-element" data-template="tmpl-equipment">Добавить еще</span>
    </div>
</div>

<div class="form__addition js-form-addition">
   

    <div class="form__row">
        <span class="event-button event-button_add js-add-element" data-template="tmpl-table-vtss">Добавить еще</span>
    </div>
</div>

<script type="text/html" id="tmpl-addition">
    <tr>
        <td class="tac">{{index}}.</td>
        <td><input type="text" class="form__input"></td>
        <td><input type="text" class="form__input"></td>
    </tr>
</script>

