<div class="carousel carousel_main">

	<div class="carousel__overlap carousel__overlap_before"></div>
	<div class="carousel__overlap carousel__overlap_after"></div>

	<div class="carousel__wrapper js-carousel clearfix" data-viewcount="4">
		
		<div class="carousel__item slick-slide">
		 	<div class="carousel__item__border"></div>
			<a href="" class="carousel__item__content">
				<span class="carousel__item__content__icon"></span>
				<span class="carousel__item__content__title">Защита государственной тайны</span>
			</a>
		</div>

		<div class="carousel__item slick-slide">
		 	<div class="carousel__item__border"></div>
			<a href="" class="carousel__item__content">
				<span class="carousel__item__content__icon"></span>
				<span class="carousel__item__content__title">Контроль защищенности и аттестация объектов информатизации</span>
			</a>
		</div>

		<div class="carousel__item slick-slide">
		 	<div class="carousel__item__border"></div>
			<a href="" class="carousel__item__content">
				<span class="carousel__item__content__icon"></span>
				<span class="carousel__item__content__title">Специальные проверки и специальные исследования технических средств</span>
			</a>
		</div>
	
		<div class="carousel__item slick-slide">
		 	<div class="carousel__item__border"></div>
			<a href="" class="carousel__item__content">
				<span class="carousel__item__content__icon"></span>
				<span class="carousel__item__content__title">Специальные обследования помещений</span>
			</a>
		</div>

		<div class="carousel__item slick-slide">
		 	<div class="carousel__item__border"></div>
			<a href="" class="carousel__item__content">
				<span class="carousel__item__content__icon"></span>
				<span class="carousel__item__content__title">Специальные обследования помещений</span>
			</a>
		</div>

	</div>
</div>