<ul class="timeline">
    <li class="timeline__item">
        <span class="timeline__date">2010</span>
        <span class="timeline__circle"></span>
    
        <div class="timeline__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, laudantium, laboriosam. Magnam ut ullam, praesentium, est quasi voluptatibus voluptate enim. Aperiam incidunt iste cum culpa tenetur excepturi natus rem modi?
        </div>
    </li>
    <li class="timeline__item">
        <span class="timeline__date">2011</span>
        <span class="timeline__circle"></span>

        <div class="timeline__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, laudantium, laboriosam. Magnam ut ullam, praesentium, est quasi voluptatibus voluptate enim. Aperiam incidunt iste cum culpa tenetur excepturi natus rem modi?
        </div>
    </li>
    <li class="timeline__item">
        <span class="timeline__date">2012</span>
        <span class="timeline__circle"></span>
        
        <div class="timeline__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, laudantium, laboriosam. Magnam ut ullam, praesentium, est quasi voluptatibus voluptate enim. Aperiam incidunt iste cum culpa tenetur excepturi natus rem modi?
        </div>
    </li>
    <li class="timeline__item">
        <span class="timeline__date">2013</span>
        <span class="timeline__circle"></span>
    
        <div class="timeline__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, laudantium, laboriosam. Magnam ut ullam, praesentium, est quasi voluptatibus voluptate enim. Aperiam incidunt iste cum culpa tenetur excepturi natus rem modi?
        </div>
    </li>
    <li class="timeline__item">
        <span class="timeline__date">2014</span>
        <span class="timeline__circle"></span>
    
        <div class="timeline__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, laudantium, laboriosam. Magnam ut ullam, praesentium, est quasi voluptatibus voluptate enim. Aperiam incidunt iste cum culpa tenetur excepturi natus rem modi?
        </div>
    </li>
</ul>