@@include('./components/meta.html', {
	"title": "Main"
})

@@include('./popups/popup.html')

<div class="layout-wrapper">
	@@include('./components/header.html')

	<section class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		<div style="padding: 200px;">
			<a href="" class="button trigger-dropdown" data-dropdown="popover">Показать поповер</a>
			<a href="#popup-test" class="button js-open-popup" data-popup="popup">Открыть попап</a>
		</div>
		
	</section>
</div>

@@include('./components/footer.html')