@@include('./components/meta.html', {
	"title": "Main"
})

@@include('./popups/popup.html')

<div class="layout-wrapper">
	@@include('./components/header.html', {
		"current": ""
	})

	<section class="layout-wrapper__inner" itemprop="mainContentOfPage">
		
		@@include('./components/checkbox.html', {
			"title": "checkbox",
			"name": "checkbox",
			"value": 1
		})

		<br>

		@@include('./components/radio.html', {
			"title": "radio 1",
			"name": "radio",
			"value": 1
		})
		<br>

		@@include('./components/radio.html', {
			"title": "radio 2",
			"name": "radio",
			"value": 2
		})

		<div style="padding: 200px;">
			<a href="#popup-test" class="button js-open-popup" data-popup="popup-test">Открыть попап</a>
		</div>
		
	</section>
</div>

@@include('./components/footer.html')