<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mail</title>
</head>
<body>

<div style="padding:20px;background-color:#fffff7;font-family:Tahoma,Arial,sans-serif;font-size:15px;color:#424242">
	<div style="width:660px;margin:0 auto">
		<div style="margin-bottom:20px">
			<table style="font-size:15px">
				<tbody><tr style="line-height:1">
					<td style="width:50px;padding:0">
						<a href="" target="_blank">
							<img src="https://habracdn.net/toster/images/placeholders_icons_sheet.png" width="50" height="50">
						</a>
					</td>
					<td style="width:20px;padding:0"></td>
					<td style="padding:0">
						<div style="color:#000;font-weight: bold;text-decoration:none;text-transform: uppercase;margin-bottom: 0;">to2ko.ru</div>
                        <div style="text-align:left;padding-top:19px;font-size:13px;color:#999;">Новый заказ, на сайте</div>
					</td>
				</tr>
			</tbody></table>
			
		</div>

		<div style="margin-bottom:20px;padding:50px 60px 50px 40px;background-color:#f2f2f2;color:#424242">
			<div style="font-size:25px;line-height:1.2em;color:#060606;margin-bottom:30px">Уважаемые клиенты!</div>
			<div style="font-size:25px;line-height:1.2em;color:#060606;margin-bottom:30px"></div>
			<div style="margin-bottom:60px">Работы по устранению сбоя на почтовом сервере, на котором размещается Ваша почта, завершены.<br><br>Приносим извинения за доставленные неудобства</div>
			<div style="font-size:12px;color:#424242">С уважением, служба поддержки пользователей Timeweb.<br>
				<a href="http://www.timeweb.com" style="color:#755BCC;text-decoration:none" target="_blank">http://www.timeweb.com</a> <br>
				<a href="mailto:info@timeweb.ru" style="color:#755BCC;text-decoration:none" target="_blank">info@timeweb.ru</a>
			</div>
		</div>
		<div style="padding:50px 40px 50px 40px;background-color:#eee">
			<table style="font-size:15px">
				<tbody><tr style="line-height:28px">
					<td style="width:120px;padding:0">
						<div><strong>Москва:</strong></div>
						<div><strong>C.-Петербург:</strong></div>
						<div><strong>Россия:</strong></div>
					</td>
					<td style="width:210px;padding:0">
						<div>+7 (495) 604-1081</div>
						<div>+7 (812) 244-1081</div>
						<div>8 800 333-1081</div>
					</td>
					<td style="padding:0">
						<div><a href="https://timeweb.com/ru/support/faq/hosting/?utm_campaign=tech_mail&amp;utm_medium=email&amp;utm_source=timeweb" style="color:#755BCC;text-decoration:none" target="_blank">Справочник / FAQ</a></div>
                        <div><a href="https://timeweb.com/ru/support/documents/?utm_campaign=tech_mail&amp;utm_medium=email&amp;utm_source=timeweb" style="color:#755BCC;text-decoration:none" target="_blank">Публичная оферта и договоры</a></div>
                        <div><a href="https://timeweb.com/ru/services/hosting/rules/?utm_campaign=tech_mail&amp;utm_medium=email&amp;utm_source=timeweb" style="color:#755BCC;text-decoration:none" target="_blank">Правила и ограничения</a></div>
					</td>
				</tr>
			</tbody></table>
		</div>
		<div>
			<div style="text-align:left;padding-top:20px;font-size:13px;color:#424242;">
                <p>По всем вопросам Вы можете обратиться к нам</p>
				<p>Email: <a href="mailto:support@movebo.ru" style="color:#755BCC;text-decoration:none" target="_blank">support@movebo.ru</a></p>
				<p><a style="color:#755BCC" href="https://timeweb.com/ru/subscribe.php?email=info@celebro.ru&amp;key=afa317d53fe0da16f219f61852868347" target="_blank">Отписаться от рассылки</a></p>
            </div>
        </div>
	</div>
</div>

</body>
</html>