<div class="carousel" id="carousel">
	
	<span class="carousel__controll carousel__controll_prev"></span>
	<span class="carousel__controll carousel__controll_next"></span>
	
	<div class="carousel__wrap">
		<ul class="carousel__list">

			<li class="carousel__item">
				<a href="" class="carousel__item__photo"><img src="./images/carousel/s1.png" class="carousel__item__image" width="61" height="92" alt=""></a>
			</li>

			<li class="carousel__item">
				<a href="" class="carousel__item__photo"><img src="./images/carousel/s2.png" class="carousel__item__image" width="61" height="92" alt=""></a>
			</li>
			
			<li class="carousel__item">
				<a href="" class="carousel__item__photo"><img src="./images/carousel/s3.png" class="carousel__item__image" width="61" height="92" alt=""></a>
			</li>
			
			<li class="carousel__item">
				<a href="" class="carousel__item__photo"><img src="./images/carousel/s4.png" class="carousel__item__image" width="61" height="92" alt=""></a>
			</li>
			
			<li class="carousel__item">
				<a href="" class="carousel__item__photo"><img src="./images/carousel/s5.png" class="carousel__item__image" width="61" height="92" alt=""></a>
			</li>
			
			<li class="carousel__item">
				<a href="" class="carousel__item__photo"><img src="./images/carousel/s6.png" class="carousel__item__image" width="61" height="92" alt=""></a>
			</li>
			
			<li class="carousel__item">
				<a href="" class="carousel__item__photo"><img src="./images/carousel/s7.png" class="carousel__item__image" width="61" height="92" alt=""></a>
			</li>
			
		</ul>
	</div>

</div>