<div class="overlay" id="overlay"></div>

<svg id="svg-filter"><filter id="svg-blur"><feGaussianBlur in="SourceGraphic" stdDeviation="5"></feGaussianBlur></filter></svg>

<script type="text/html" id="tmpl-popup-message">
	<div class="popup" id="popup_message">
	    <b class="popup__close trigger-popup-close"></b>
	    {{#title}}
	    <div class="popup__header">{{title}}</div>
	    {{/title}}
		<div class="popup__content clearfix">
			{{text}}
		</div>
	</div>
</script>

<script type="text/html" id="tmpl-mustache">
	<h1>{{header}}</h1>
	<p>{{content}}</p>
	<ul>
		{{#authors}}
		    <li>{{#accent}} {{.}} {{/accent}}</li>
		{{/authors}}

		{{^authors}}
		    <li>anonymous</li>
		{{/authors}}
	</ul>
	
	{{#stooges}}
	<b>{{name}}</b>
	{{/stooges}}

	* {{name}}
	* {{age}}
	* {{company}}
	* {{{company}}}
	* {{&company}}
	{{=<% %>=}}
	* {{company}}
	<%={{ }}=%>
</script>

<div class="popup" id="popup-test">
    <div class="popup__wrapper">
		<span class="popup__close trigger-popup-close">
	    	<svg xmlns="http://www.w3.org/2000/svg"><path d="M8,5.5 L8.5,5 L15,11.5 L21.5,5 L22,5.5 L15.5,12 L22,18.5 L21.5,19 L18.5,16 L15,12.5 L8.5,19 L8,18.5 L14.5,12 L8,5.5 Z"></path></svg>
    	</span>
	    
	    <header class="popup__header">
	    	<h2>Popup</h2>
		</header>

		<section class="popup__conteiner clearfix">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus voluptates doloremque commodi rerum voluptatibus cumque blanditiis, facilis ratione minus eius officiis corporis dolores nobis assumenda iusto deserunt maxime eligendi! Enim.</p>
			<p>Omnis porro, sed recusandae illum adipisci quidem saepe tempore repudiandae exercitationem delectus, laborum soluta eaque modi corporis. Ad ullam et iure, non nam, eveniet sed, distinctio porro officia aliquam at.</p>
		</section>

		<footer class="popup__footer popup__footer_right">
			<a href="" class="button popup__btn-close">Применить</a>
		</footer>
	</div>
</div>