<div class="slider">
	<div class="slider__wrapper" id="slider">
		<div class="slider__item s1 js-slider-slide"><img src="./images/slides/1.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s2 js-slider-slide active"><img src="./images/slides/2.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s3 js-slider-slide"><img src="./images/slides/3.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s4 js-slider-slide"><img src="./images/slides/4.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s5 js-slider-slide"><img src="./images/slides/5.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s6 js-slider-slide"><img src="./images/slides/6.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s7 js-slider-slide"><img src="./images/slides/7.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s8 js-slider-slide"><img src="./images/slides/8.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s9 js-slider-slide"><img src="./images/slides/9.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s10 js-slider-slide"><img src="./images/slides/10.jpg" alt="" width="1360" height="755"></div>
	</div>
</div>