<div class="slider">
	<div class="slider__wrapper" id="slider">
		<div class="slider__item s1 js-slider-slide"><img src="./images/slides/1.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s2 js-slider-slide active"><img src="./images/slides/2.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s3 js-slider-slide"><img src="./images/slides/3.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s4 js-slider-slide"><img src="./images/slides/4.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s5 js-slider-slide"><img src="./images/slides/5.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s6 js-slider-slide"><img src="./images/slides/6.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s7 js-slider-slide"><img src="./images/slides/7.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s8 js-slider-slide"><img src="./images/slides/8.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s9 js-slider-slide"><img src="./images/slides/9.jpg" alt="" width="1360" height="755"></div>
		<div class="slider__item s10 js-slider-slide"><img src="./images/slides/10.jpg" alt="" width="1360" height="755"></div>
	</div>
</div>

<!-- 
<div class="slider">
	<div class="slider__overlay"></div>
	<div class="slider__wrapper" id="slider">
		<div class="slider__item slick-slide">
			<div class="slider__item__content">
				<div class="slider__item__title">От идеи к делу!</div>
				<div class="slider__item__description">Краткое описание в несколько строк: конкурс проводится среди студентов 4-5 курсов высших учебных заведений, по теме Сегодня мы расскажем о не-конференции в сфере информационных технологий Баркемп, которую планируется провести в Краснодаре 19 марта 2016 года.</div>
				<div class="slider__item__more clearfix">
					<a href="" class="slider__item__more__link">подробнее</a>
				</div>

				<div class="slider__item__date">
					<div class="slider__item__date__title">Окончание подачи заявлений:</div>
					<div class="slider__item__date__count">12. 12. 2015</div>
				</div>
			</div>
			<div class="slider__item__image" style="background-image: url(./images/slider-1.jpg);"></div>
		</div>

		<div class="slider__item slick-slide">
			<div class="slider__item__content">
				<div class="slider__item__title">От идеи к делу!</div>
				<div class="slider__item__description">Краткое описание в несколько строк: конкурс проводится среди студентов 4-5 курсов высших учебных заведений, по теме Сегодня мы расскажем о не-конференции в сфере информационных технологий Баркемп, которую планируется провести в Краснодаре 19 марта 2016 года.</div>
				<div class="slider__item__more clearfix">
					<a href="" class="slider__item__more__link">подробнее</a>
				</div>

				<div class="slider__item__date">
					<div class="slider__item__date__title">Окончание подачи заявлений:</div>
					<div class="slider__item__date__count">12. 12. 2015</div>
				</div>
			</div>
			<div class="slider__item__image" style="background-image: url(./images/slider-2.jpg);"></div>
		</div>

		<div class="slider__item slick-slide">
			<div class="slider__item__content">
				<div class="slider__item__title">От идеи к делу!</div>
				<div class="slider__item__description">Краткое описание в несколько строк: конкурс проводится среди студентов 4-5 курсов высших учебных заведений, по теме Сегодня мы расскажем о не-конференции в сфере информационных технологий Баркемп, которую планируется провести в Краснодаре 19 марта 2016 года.</div>
				<div class="slider__item__more clearfix">
					<a href="" class="slider__item__more__link">подробнее</a>
				</div>

				<div class="slider__item__date">
					<div class="slider__item__date__title">Окончание подачи заявлений:</div>
					<div class="slider__item__date__count">12. 12. 2015</div>
				</div>
			</div>
			<div class="slider__item__image" style="background-image: url(./images/slider-1.jpg);"></div>
		</div>
	</div>
</div> -->