<ul class="tabs">
	<li class="tabs__item">
		<a href="" data-toggle="tab" data-target="#tab1" aria-expanded="false">Pages</a>
	</li>
	<li class="tabs__item">
		<a href="" data-toggle="tab" data-target="#tab2" aria-expanded="false">Components</a>
	</li>
	<li class="tabs__item">
		<a href="" data-toggle="tab" data-target="#tab3" aria-expanded="true">UI Kits</a>
	</li>
</ul>

<div class="tab-content">
	<div role="tabpanel" class="tab-pane animated fadeIn" id="tab1">
		Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
	</div>
	
	<div role="tabpanel" class="tab-pane animated fadeIn" id="tab2">
		Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
	</div>

	<div role="tabpanel" class="tab-pane animated fadeIn active" id="tab3">
		Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher.
	</div>
</div>