* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

html, body { height: 100%; }

html {
    font-size: $fontBase;
    text-size-adjust: 100%;
}

html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    text-rendering: optimizeLegibility; //auto | optimizeSpeed | optimizeLegibility | geometricPrecision
    font-family: $fontDefault;
    color: $colorText;
    background-color: $body;
}

a:focus {
    outline: 0;
}