* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    &, &:before, &:after {
        box-sizing: inherit;
    }
}

html, body { height: 100%; }

html {
    font-size: $font-base;
    text-size-adjust: 100%;
    box-sizing: border-box;
}

html {
  
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

body {
    color: $color-text;
    text-rendering: optimizeLegibility; //auto | optimizeSpeed | optimizeLegibility | geometricPrecision
    font-family: $font-family;
    line-height: 1;
    background-color: $body-background;
}