<div class="overlay" id="overlay"></div>

<svg id="svg-filter"><filter id="svg-blur"><feGaussianBlur in="SourceGraphic" stdDeviation="5"></feGaussianBlur></filter></svg>

@@include('./message.html')

@@include('./test.html')

<script type="text/html" id="tmpl-popup-demo">
	<div class="popup" id="popup-demo">
		<div class="popup__dialog">
			<section class="popup__content">
				<b class="popup__close js-popup-close">Закрыть</b>
				
			</section>
		</div>
	</div>
</script>

<script type="text/html" id="tmpl-popup-service">
	<div class="popup" id="popup-service">
		<div class="popup__dialog">
			<section class="popup__content">
				<b class="popup__close js-popup-close">Закрыть</b>
				
				<header class="popup__header">
					<h4 class="popup__header__title">Заказать услуги</h4>
				</header>

				<article class="popup__body">

				</article>
			</section>
		</div>
	</div>
</script>

<script type="text/html" id="tmpl-popup-feedback">
	<div class="popup" id="popup-feedback">
		<div class="popup__dialog">
			<section class="popup__content">
				<b class="popup__close js-popup-close">Закрыть</b>
				
				<header class="popup__header">
					<h4 class="popup__header__title">Заказать услуги</h4>
				</header>

				<article class="popup__body">

				</article>
			</section>
		</div>
	</div>
</script>

<script type="text/html" id="tmpl-mustache">
	<h1>{{header}}</h1>
	<p>{{content}}</p>
	<ul>
		{{#authors}}
		    <li>{{#accent}} {{.}} {{/accent}}</li>
		{{/authors}}

		{{^authors}}
		    <li>anonymous</li>
		{{/authors}}
	</ul>
	
	{{#stooges}}
	<b>{{name}}</b>
	{{/stooges}}

	* {{name}}
	* {{age}}
	* {{company}}
	* {{{company}}}
	* {{&company}}
	{{=<% %>=}}
	* {{company}}
	<%={{ }}=%>
</script>