<div class="popup" id="popup-test">
    <div class="popup__wrapper">
		<span class="popup__close js-popup-close"></span>
	    
	    <header class="popup__header">
	    	<h2>Popup</h2>
		</header>

		<section class="popup__conteiner clearfix">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus voluptates doloremque commodi rerum voluptatibus cumque blanditiis, facilis ratione minus eius officiis corporis dolores nobis assumenda iusto deserunt maxime eligendi! Enim.</p>
			<p>Omnis porro, sed recusandae illum adipisci quidem saepe tempore repudiandae exercitationem delectus, laborum soluta eaque modi corporis. Ad ullam et iure, non nam, eveniet sed, distinctio porro officia aliquam at.</p>
		</section>

		<footer class="popup__footer popup__footer_right">
			<a href="" class="button js-popup-close">Применить</a>
		</footer>
	</div>
</div>

<div class="popup" id="popup-feedback">
	<div class="popup__dialog js-popup-dialog">
		<div class="popup__content">

			<span class="popup__close js-popup-close"></span>
			
		    <header class="popup__header">
		    	Спасибо за регистрацию!
			</header>
		
			<section class="popup__conteiner clearfix">
				<h3 class="popup__title">В ближайшее время вы получите письмо на указанный в анкете электронный адрес со ссылкой, по которой нужно будет перейти. Если вы не получили письмо, проверьте, пожалйста, электронный адрес, указанный вами в анкете,<br>и повторите отправку. (Умоляю, верните этому тексту человеческий вид. Ваш русский язык)</h3>
				
				<div class="form__row clearfix form__row_last">
					<div class="popup__strong">donnarosedalvadores@gmail.com</div>
				</div>
			</section>

			<footer class="popup__footer clearfix">
				<a href="" class="button button_dark button_fix">отправить еще раз</a>
			</footer>
		
		</div>
	</div>
</div>