.carousel {
	width: 61px;
	position: relative;
	margin-bottom: 29px;
	margin-top: -3px;

	&.initial {
		padding: 12px 0;
		margin-top: 0;
	}
	
	&__controll {
		width: 13px;
		height: 8px;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		cursor: pointer;
		
		&:before {
			width: 100%;
			height: 100%;
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			z-index: 1;
			opacity: 0;
			background-size: 100%;
			background-position: 0 0;
			background-repeat: no-repeat;
			transition: opacity $time;
		}
	
		&.active {
			&:before {
				opacity: 1;
			}
		}

		&_prev {
			top: 0;

			&:before {
				background-image: url(../images/arrow-up.svg);
			}
		}

		&_next {
			bottom: 0;

			&:before {
				background-image: url(../images/arrow-down.svg);
			}
		}
	}

	&__wrap {
		position: relative;
		max-height: 392px;
		overflow: hidden;

		&_large {
			max-height: 588px;
		}
	}

	&__list {
		font-size: 0;
		height: 100%;
		overflow: hidden;
	}

	&__item {
		width: 100%;
		height: 92px;
		padding: 3px 0;
		cursor: pointer;
		position: relative;

		&__photo {
			width: 100%;
			height: 92px;
			line-height: 92px;
			text-align: center;
			display: block;
		}

		&__image {
			max-width: 100%;
			max-height: 100%;
			vertical-align: middle;
		}
	}
}