.quantity {
	padding: 0 35px;
	position: relative;
	user-select: none;
	clear: both;
	display: block;
	
	max-width: 100px;
	
	&__count {
		height: 36px;
		background: none;
		padding: 0;
		border: 1px solid #cecece;
		border-radius: 4px;
		color: #000;
		text-align: center;
		font-size: 1.8rem;
		font-weight: 400;
	}

	&__control {
		width: 29px;
		height: 29px;
		position: absolute;
		top: 50%;
		margin-top: -14px;
		border-radius: 50%;
		cursor: pointer;
		background-color: #81bc3d;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
		color: #fff;
		text-align: center;
		line-height: 29px;
	
		&_decrease {
			left: 0;
		}
	
		&_increase {
			right: 0;
		}

		&.disabled {
			background-color: #999;
		}
	}
}