$sandwichBackground: #fff;

.menu-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    background-color: rgb(0, 0, 0);
    background-color: #051634;
    transition: opacity 0.3s;
}

.sandwich {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
    text-decoration: none;

    &__layer {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        margin-top: -2px;
        background-color: $sandwichBackground;
        font-size: 0px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: background-color 0.2s;


        &:before,
        &:after {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            background-color: $sandwichBackground;
            content: '';
            transition: transform 0.2s;
        }

        &:before {
            transform: translateY(-250%);
        }

        &:after {
            transform: translateY(250%);
        }
    }
}

.page-visible .header {
    visibility: visible;
}

.page-open {
    overflow: hidden;

    .menu-overlay {
        opacity: 0.8;
    }
    
    .header {
        transform: translate3d(0, 0, 0);
    }

    .sandwich {
        opacity: 1;
        z-index: 9999;

        &__layer {
            background-color: transparent;

            &:before {
                transform: translateY(0) rotate(45deg);
            }

            &:after {
                transform: translateY(0) rotate(-45deg);
            }
        }
    }
}