// Настройки
$popupCloseSize: 1.8rem;

#svg-filter {
	display: none;
}

.popup-open {
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;

	.layout-wrapper {
	    overflow: hidden;
	}
}

.no-scroll.popup-open {
	overflow: hidden;
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 8888;
	display: none;
	background-color: #000;
	@include opacity(0);
	transition: opacity $time;
	
	&.visible {
		display: block;
	}

	&.animate {
		@include opacity(0.7);
	}
}

.popup {
	width: 100%;
	height: 100%;
	max-width: 100%;
	position: fixed;
	font-size: 0;
	line-height: 0;
	z-index: 9999;
	transform: translate3d(0, 0, 0);
	display: none;
	overflow-y: auto;
	padding: 6rem 0;
	transition: opacity .5s, transform .6s;
	box-sizing: border-box;
	@include opacity(0);

	&.visible {
		display: block;
	}

	&.animate {
		transform: translate3d(0, 0, 0);
		@include opacity(1);
	}

	&__dialog {
		width: 44.5rem;
		height: auto;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin: 0 auto;
		transform: translateY(-50%);
		
		&.is-scrolling {
			position: relative;
			left: auto;
			top: auto;
			transform: none;
		}
	}

	&__content {
		margin: 0;
		position: relative;
		background-color: #468760;
		padding: 50px 20px 30px;
		box-shadow: 0 0.5rem 2rem rgba(34, 68, 18, 0.6);
	}

	&__header {
		color: #000;
		font-size: 3.6rem;
		font-weight: 300;
		line-height: 1;
		margin-bottom: 3rem;
		text-transform: uppercase;

		&_slash {
			color: #747679;
		}
	}

	&__close {
		width: 15px;
		height: 15px;
		position: absolute;
		right: 20px;
		top: 15px;
		cursor: pointer;
		background: url(../images/close.png) 50% 50% no-repeat;
		background-image: url(../images/close.svg);
		background-size: 100%;
		@include opacity(.3);
		transition: opacity $time;

		&:hover {
			@include opacity(1);
		}
	}

	&__title {
		color: #b5b3b5;
		font-size: 1.6rem;
		font-weight: 300;
		line-height: 2.2rem;
		margin-bottom: 1.5rem;
	
		&_black {
			color: #000;
		}

		&_clear {
			margin-bottom: 0;
			line-height: 1;
		}

		&_sm {
			margin-bottom: 2.3rem;
		}
	}

	&__strong {
		color: #000;
		font-size: 1.6rem;
		font-weight: 300;
		line-height: 1;
	}
}