.button {
    height: 34px;
    padding: 0 20px;
    
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
	text-decoration: none;
    
    @extend %button;

    border-radius: 3px;
    border: 1px solid $border;
    background-color: $border;
    text-shadow: 0 1px 1px $border;
    background-image: linear-gradient(to top,rgba(0,0,1,.06) 0,rgba(255,255,255,.06) 100%);
	
    &:visited {
	    color: #fff;
	}

	&_submit {
		display: inline-block;
		vertical-align: middle;
	}

	&:hover, &:focus {
		color: #fff;
		background-color: #0083F5;
	}

	&.disabled {
		background: #ccc !important;
		cursor: not-allowed !important;
		background: #ccc !important;

		&, &:hover {
			-webkit-box-shadow: none !important;
			box-shadow:none !important;
			background: #ccc !important;
		}
	}
}

$green: #0f0;
$blue: #00f;


// set views
@mixin skinView($skin, $state, $color) {
	& {
		background-color:
			if( $state == 'link',   $color,               null )
			if( $state == 'hover',  lighten($color, 10%), null )
			if( $state == 'active', darken($color,  10%), null );
	}
	
	&:before {
		border-bottom-color:
			if( $state == 'link',   darken($color, 10%), null )
			if( $state == 'hover',  $color,              null )
			if( $state == 'active', darken($color, 20%), null );
	}

	.button__text {
		color:
			if( $state == 'link',   #fff,                 null )
			if( $state == 'hover',  lighten($color, 45%), null )
			if( $state == 'active', lighten($color, 40%), null );
	}
}
	
// set modes
@each $skinName, $skinColor in (
	( 'green',   $green ), 
	( 'blue',    $blue )
	) {

	.button_color_#{ $skinName } { // set state «link»
		@include skinView($skinName, 'link', $skinColor); // call view
	}

	.button_color_#{ $skinName }:hover:not(.button_disabled) { // set state «hover»
		@include skinView($skinName, 'hover', $skinColor); // call view
	}

	.button_color_#{ $skinName }:active:not(.button_disabled) { // set state «active»
		@include skinView($skinName, 'active', $skinColor); // call view
	}
}