.navigation {
	&__list {
		width: 100%;
	}
	
	&__item {
		@extend .inline;

		&:not(:last-child) {
			margin-right: 3rem;
		}
	}

	&__link {
		display: block;
		font-size: 1.4rem;
		line-height: 4rem;
	}
}