.selectbox {
	color: #000;
	background: none;
	margin: 0;
	padding: 0;
	z-index: 200;
	cursor: pointer;
	font-family: $font-arial;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 32px;
	vertical-align: top;
	border: 1px solid mix($input-border, #fff, 39%);
	border-radius: 2px;
	box-sizing: border-box;
	
	&.is-checked {

	}

	&.is-disabled {
		opacity: 0.4;
		cursor: default;
	}

	&, &__select {
		width: 100%;
		height: 34px;
		display: block;
		position: relative;
	}

	&__select {
		z-index: 10000;

		&__text {
			height: 100%;
		    padding: 0 40px 0 10px;
			letter-spacing: 0.05ex;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	&__trigger {
		right: 0;
		top: 0;

		&, &__arrow{
			width: 35px;
			height: 100%;
			position: absolute;
			display: block;
		}

		&__arrow {
			top: 0;
			left: 0;
			background: url(../images/select.png) no-repeat 50% 50%;
			background-image: url(../images/select.svg);
			background-size: 15px 9px;
		}
	}

	&__dropdown {
		min-width: 100%;
		max-height: 183px;
		position: absolute;
		top: 32px;
		left: -1px;
	    right: -1px;
	    list-style: none;
		background-color: #fff;
		border: 1px solid mix($input-border, #fff, 39%);
		border-radius: 0 0 2px 2px;
		z-index: 9999;
		overflow: auto;
		display: none;
		overflow-x: hidden;
		box-sizing: border-box;

		&__list {
			list-style-type: none;
		}
	
		&__item {
			margin: 0;
			line-height: 1.2;
			padding: 8px 10px;
			border: none;
			background-image: none;
			transition: color $time;
			
			&.is-empty {
				display: none;
			}

			&.is-empty.selected {
				display: block;
			}

			&.last-child {
				border-bottom: 0;
			}

			&.selected {
				background: #fff;
			}

			&.sel {
				display: none;
			}

			&:hover {
				color: $border-color;
			}

			&.disabled {
				color: #aaa;
			}

			&.disabled:hover {
				background: none;
			}
		}
	}
}

.error .selectbox {
	color: $error-color;
	border-color: $error-color;
}

.selectbox-active {
	border-radius: 2px 2px 0 0;

	.selectbox__select,
	.selectbox__dropdown {
		&__item {
			&.is-empty {
				display: none;
			}
		}
	}

	.selectbox__trigger__arrow {
		// background-image: url(../images/select.png);
	}
}