$time: .4s;
$body: #fff;
$colorText: #fff;

$selectcolor: #fff;
$selectBackground: #097dc5;

$placeholderColor: #000;
$placeholderOpacity: .5;

$fontBase: 10px;
$footerHeight: 100px;

$fontDefault: Roboto,'Helvetica Neue',sans-serif;
$fontForms: Arial, Helvetica, sans-serif;