@include font-face('Gotham Pro', '../fonts/Gotham-webfont', 400, italic);
@include font-face('Gotham Pro', '../fonts/Gotham-italic-webfont', 700, normal);

@font-face {
    font-family: 'Ruble';
    src: url('../fonts/rouble.eot');
    src: url('../fonts/rouble.eot?#iefix') format('embedded-opentype'), url('../fonts/rouble.woff') format('woff'), url('../fonts/rouble.ttf') format('truetype'), url('../fonts/rouble.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
* Webfonts served by Typotheque.com
*
* To make the font files as small as possible,
* most glyphs and OpenType features were removed.
* To edit the fonts, add more language support,
* log it to your Typotheque account:
* http://www.typotheque.com/my_account/webfonts
*
* The Typotheque Font Software is protected under domestic
* and international trademark and copyright law.
* Modifying, reverse engineering or otherwise copying
* of Typotheque Font Software is illegal.
* http://www.typotheque.com/licensing/
*
* (c) 2015, Typotheque
* Generated: 2015-10-02 13:59:49
*/

/*
@font-face {
	font-family: "William Text";
	src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-026554-008863-001369-1443794398.eot");
	src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-026554-008863-001369-1443794398.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-026554-008863-001369-1443794398.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-026554-008863-001369-1443794398.svg#typotheque_webfonts_service") format("svg");
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}
@font-face {
	font-family: "William Text Regular";
	src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-026554-008863-001369-1443794398.eot");
	src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-026554-008863-001369-1443794398.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-026554-008863-001369-1443794398.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-026554-008863-001369-1443794398.svg#typotheque_webfonts_service") format("svg");
}
*/