::-moz-selection, ::selection, ::-o-selection, ::-ms-selection, ::-webkit-selection {
	color: $selectcolor;
	background-color: $selectBackground;
	text-shadow: none;
}

svg {
	shape-rendering: optimizeSpeed;
}

// img[src$=".gif"], img[src$=".png"] {
//     image-rendering: -moz-crisp-edges;         /* Firefox */
//     image-rendering:   -o-crisp-edges;         /* Opera */
//     image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
//     image-rendering: crisp-edges;
//     -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
// }

// .div { 
//     background: url(chessboard.gif) no-repeat 50% 50%;
//     image-rendering: -moz-crisp-edges;         /* Firefox */
//     image-rendering:   -o-crisp-edges;         /* Opera */
//     image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
//     image-rendering: crisp-edges;
//     -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
// }

// img { margin: 20px; }
// img[align="left"] { margin-left: 0; }
// img[align="right"] { margin-right: 0; }

%clearfix {
	zoom: 1; // For IE 6/7 (trigger hasLayout)

	&:after {
		clear: both;
		content: '';
		line-height: 0;
		display: table;
	}
}

// %clearfix {
// 	zoom: 1; // For IE 6/7 (trigger hasLayout)

// 	&:before,
// 	&:after {
// 		content: '';
// 		display: block;
// 	}

// 	&:after {
// 		width: 100%;
// 		clear: both;
// 	}
// }

.clearfix {
	@extend %clearfix;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.inner {
	width: 100%;
	display: table;

	&:after {
		width: 100%;
		display: block;
		content: ' ';
		clear: both;
	}
}

* html .inner {
	margin-left: -3px;
}

.image {
	font: 0/0 a;
	border: 0;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

.vmcenter {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.disable-hover,
.disable-hover * {
	pointer-events: none !important;
}

a:focus {
	outline: 0;
}