@include makeGrid();

.alpha { margin-left: 0; }
.omega { margin-right: 0; }


.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
	float: none;
	clear: both;
	display: block;
	margin-bottom: 10px;
	background-color: #eee;
	height: 20px;
}


.prefix_1, .prefix_2, .prefix_3, .prefix_4, .prefix_5, .prefix_6, .prefix_7, .prefix_8, .prefix_9, .prefix_10, .prefix_11, .prefix_12 {
	float: none;
	clear: both;
	display: block;
	margin-bottom: 10px;
	background-color: #f00;
	height: 20px;
}