<div class="overlay" id="overlay"></div>

<svg id="svg-filter"><filter id="svg-blur"><feGaussianBlur in="SourceGraphic" stdDeviation="5"></feGaussianBlur></filter></svg>

@@include('./message.html')

@@include('./test.html')

<script type="text/html" id="tmpl-mustache">
	<h1>{{header}}</h1>
	<p>{{content}}</p>
	<ul>
		{{#authors}}
		    <li>{{#accent}} {{.}} {{/accent}}</li>
		{{/authors}}

		{{^authors}}
		    <li>anonymous</li>
		{{/authors}}
	</ul>
	
	{{#stooges}}
	<b>{{name}}</b>
	{{/stooges}}

	* {{name}}
	* {{age}}
	* {{company}}
	* {{{company}}}
	* {{&company}}
	{{=<% %>=}}
	* {{company}}
	<%={{ }}=%>
</script>