<div class="popup" id="popup-test">
    <div class="popup__wrapper">
		<span class="popup__close js-popup-close"></span>
	    
	    <header class="popup__header">
	    	<h2>Popup</h2>
		</header>

		<section class="popup__conteiner clearfix">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus voluptates doloremque commodi rerum voluptatibus cumque blanditiis, facilis ratione minus eius officiis corporis dolores nobis assumenda iusto deserunt maxime eligendi! Enim.</p>
			<p>Omnis porro, sed recusandae illum adipisci quidem saepe tempore repudiandae exercitationem delectus, laborum soluta eaque modi corporis. Ad ullam et iure, non nam, eveniet sed, distinctio porro officia aliquam at.</p>
		</section>

		<footer class="popup__footer popup__footer_right">
			<a href="" class="button js-popup-close">Применить</a>
		</footer>
	</div>
</div>